@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    margin: 0 auto;
    padding: 1.5rem;
    text-align: center;
}

@media not all and (min-width: 768px) {
    #root {
        padding: 0.5rem;
    }
}

.glass-extra {
    @apply bg-base-200/50 shadow-none bg-none;
}